In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/winequality-red.csv")
df

In [ ]:
# head()/ tail()
# 데이터프레임의 형상을 간략하게 보아요요

df.head(3)
df.tail(5)

In [9]:
# shape 속성
# 행/열의 수
df.shape

(1599, 12)

In [ ]:
# dtypes 속성
# 각 열(컬럼)의 데이터타입 확인
df.dtypes
# 문자열은 object

In [13]:
# info() 메서드
# 종합 정보
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [15]:
# index 속성
# 인덱스 : 행의 이름 *리스트의 인덱스가 아님
df.index

RangeIndex(start=0, stop=1599, step=1)

In [17]:
# colums 속성
# colums(컬럼) : 열의 이름 정보
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [20]:
# 열 이름을 수정할 수 있다
# 단, 리스트 길이와 기존 열 개수가 동일해야 한다.

df.columns = [
    'fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
    'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
    'pH', '산도', 'alcohol', 'quality'
    ]

In [ ]:
# 산도를 기준으로 오름차순 정렬
# by : 어떤 열을 기준으로 정렬?
# asending : 오름차순
df.sort_values(by='pH', ascending=True)

In [ ]:
# qulity를 기준으로 내림차순으로 정렬
df.sort_values(by='quality', ascending=False)

In [41]:
# 주의사항
# 정렬한 결과가 원본 데이터 프레임에 적용 X
# 기존 데이터프레임은 변화가 없음
# 새로운 데이터프레임을 생성하는 경우, 새로운 변수에 저장을 해서 사용해야한다용용
sorted_df = df.sort_values(by="quality", ascending=True)
sorted_df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,산도,alcohol,quality
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3
832,10.4,0.440,0.42,1.50,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3
517,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,3
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3
459,11.6,0.580,0.66,2.20,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
1090,10.0,0.260,0.54,1.90,0.083,42.0,74.0,0.99451,2.98,0.63,11.8,8
1120,7.9,0.540,0.34,2.50,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
588,5.0,0.420,0.24,2.00,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
828,7.8,0.570,0.09,2.30,0.065,34.0,45.0,0.99417,3.46,0.74,12.7,8
1549,7.4,0.360,0.30,1.80,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8

In [40]:
# quality, alcohol 기준 오름차순 정렬
df.sort_values(by=["quality", "alcohol"], ascending=[True,True])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,산도,alcohol,quality
517,10.4,0.610,0.49,2.1,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,3
459,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3
1469,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7,3
1374,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3
832,10.4,0.440,0.42,1.5,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3
...,...,...,...,...,...,...,...,...,...,...,...,...
390,5.6,0.850,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
1120,7.9,0.540,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
455,11.3,0.620,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8
588,5.0,0.420,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
1269,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8

In [44]:
# quality, alcohol, residual sugar 기준 오름차순 정렬
df.sort_values(by=["quality", "alcohol", "residual sugar"])

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,산도,alcohol,quality
517,10.4,0.610,0.49,2.1,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,3
459,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3
1469,7.3,0.980,0.05,2.1,0.061,20.0,49.0,0.99705,3.31,0.55,9.7,3
1374,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3
832,10.4,0.440,0.42,1.5,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3
...,...,...,...,...,...,...,...,...,...,...,...,...
390,5.6,0.850,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
1120,7.9,0.540,0.34,2.5,0.076,8.0,17.0,0.99235,3.20,0.72,13.1,8
455,11.3,0.620,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8
1269,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8
588,5.0,0.420,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8

In [ ]:
# quality 기준 내림, alcohol 기준 오름, residual sugar 오름
df.sort_values(by=["quality", "alcohol", "residual sugar"], ascending=[False,True,True])

In [ ]:
# sort_values(by=[]) : 열의 값을 기준으로 정렬
# sort_index() : 행의 이름(인덱스)을 기준으로 정렬

# 행의 이름은 인덱스(index)
# 열의 이름은 열의 이름