In [48]:
import pandas as pd

In [49]:
movie_df = pd.read_csv("../data/movie_ratings.csv")

In [54]:
# 리뷰 작성자 나이(Age)의 평균, 최소값, 최대값을 출력한다.
movie_df["Age"].mean()
movie_df["Age"].min()
movie_df["Age"].max()

   UserID  MovieID  Rating  Age  Occupation    Genre
0      45        8       4   55  Unemployed   Horror
1      48        5       3   15    Engineer   Action
2      65        4       2   55     Student  Romance
3      68        6       5   45      Doctor   Comedy
4      68        7       4   25    Engineer  Romance

In [51]:
# 평점(Rating)의 기술 통계량(개수, 평균, 표준편차, 최소값, 최대값, 사분위수)을 출력한다.
movie_df["Rating"].count()
movie_df["Rating"].mean()
movie_df["Rating"].std()
movie_df["Rating"].min()
movie_df["Rating"].max()
movie_df["Rating"].quantile()

np.float64(3.0)

In [61]:
# 리뷰가 가장 많은 영화 ID(MovieID)를 찾고, 해당 영화의 리뷰수를 출력한다.
movie_id = movie_df["MovieID"].mode()[0]
mode_movie_id = movie_df.mode()["MovieID"][0]
print(movie_id)
# 가장 많은 영화 ID만 선택
condition = movie_df["MovieID"] == mode_movie_id

#데이터프레임 행의 수
# len(movie_df.loc[condition])

movie_df.loc[condition].shape[0]

6

40

In [63]:
mpg_df = pd.read_csv("../data/auto-mpg.csv")

In [74]:
# 70 ~ 79년도(model year)의 자동차 연비(mpg) 평균을 출력한다.

#연비 평균
# mpg_df["mpg"].mean()

for year in range(70,80):
    condition = mpg_df["model year"] == year
    year_mpg_df = mpg_df.loc[condition]

    print(year, year_mpg_df["mpg"].mean())

70 17.689655172413794
71 21.25
72 18.714285714285715
73 17.1
74 22.703703703703702
75 20.266666666666666
76 21.573529411764707
77 23.375
78 24.061111111111114
79 25.09310344827585

In [85]:
# 평균 마력(horsepower)보다 작은 자동차들의 연비(mpg) 평균을 출력한다.
horsepower_mean = mpg_df["horsepower"].mean()
condition = mpg_df["horsepower"] < horsepower_mean
mpg_df.loc[condition, "mpg"].mean()

np.float64(27.542)

In [83]:
# 평균 마력(horsepower)보다 큰 자동차들의 연비(mpg)평균을 출력한다.
horsepower_mean = mpg_df["horsepower"].mean()
condition = mpg_df["horsepower"] > horsepower_mean
mpg_df.loc[condition, "mpg"].mean()

np.float64(16.71148648648649)

In [91]:
# 무게(wiehgt)가 가장 무거운 차와 가장 가벼운 차의 연비를 출력한다.
max_weight = mpg_df["weight"].max()
min_weight = mpg_df["weight"].min()
print(max_weight,min_weight)

# 데이터 선택
# 1. 조건식(condition)
# condition = 비교할 열, 비교 연산자, 비교 값

# 가장 무거운 차를 찾는 비교식
condition1 = mpg_df["weight"] == max_weight
# 가장 가벼운 차를 찾는 비교식
condition2 = mpg_df["weight"] == min_weight

# 2. .loc[] 사용
# .loc[행,열]
# .loc[조건식, 보고 싶은 열]
mpg_df.loc[condition1, "mpg"]

mpg_df.loc[condition2, "mpg"]

5140 1613

54    35.0
Name: mpg, dtype: float64