In [24]:
import pandas as pd

# 범주형 / 명목형 데이터
data = {
    "Brand": [
        "Apple",
        "Samsung",
        "Apple",
        "Xiaomi",
        "Samsung",
        "Xiaomi",
        "Samsung",
    ],
    "Model": [
        "iphone15",
        "Galaxy24",
        "iphone16",
        "Redme15",
        "Galaxy23",
        "Redme14",
        "Galaxy25",
    ],
    "Release": [
        True,
        True,
        False,
        True,
        True,
        True,
        False,
    ],
}
df = pd.DataFrame(data)

print(df)

     Brand     Model  Release
0    Apple  iphone15     True
1  Samsung  Galaxy24     True
2    Apple  iphone16    False
3   Xiaomi   Redme15     True
4  Samsung  Galaxy23     True
5   Xiaomi   Redme14     True
6  Samsung  Galaxy25    False

In [25]:
# 브랜드열(시리즈객체)의 고유값
df["Brand"].unique()

array(['Apple', 'Samsung', 'Xiaomi'], dtype=object)

In [26]:
# 모든 열의 고유값 갯수
# 데이터 프레임에 적용
df.nunique()

Brand      3
Model      7
Release    2
dtype: int64

In [27]:
# 개별 고유값의 개수
# 열에만 적용할 수 있으
df["Model"].value_counts()

Model
iphone15    1
Galaxy24    1
iphone16    1
Redme15     1
Galaxy23    1
Redme14     1
Galaxy25    1
Name: count, dtype: int64

In [28]:
# 개별 고유값의 비중
# value_counts()의
# normalize 인자
df["Brand"].value_counts(normalize=True)

Brand
Samsung    0.428571
Apple      0.285714
Xiaomi     0.285714
Name: proportion, dtype: float64

In [29]:
import pandas as pd

df = pd.DataFrame(
    {
        "등급": [
            "하",
            "중",
            "상",
            "하",
            "상",
            "중",
            "하",
        ]
    }
)

df_categorical = pd.DataFrame(df["등급"])

# 사용자 정의 범주 리스트
# 리스트 값 순서대로 범주형 데이터의 순서가 정해진다.
# 현재 순서는 하 < 중 < 상
grade_order = ["하", "중", "상"]

df_categorical["등급"] = pd.Categorical(
    # 범주형 데이터 타입으로 변환 할 열
    values=df_categorical["등급"],
    # 범주형 데이터 간 순서 부여
    categories=grade_order,
    # 범주 데이터 간 크기 비교 가능
    ordered=True,
)

In [38]:
df = pd.DataFrame(
    {
        "등급": [
            "하",
            "중",
            "상",
            "하",
            "상",
            "중",
            "하",
        ]
    }
)

# df_categorical = pd.DataFrame(df["등급"])
# df
# df["등급"]
# df_categorical
# df_categorical["등급"]

0    하
1    중
2    상
3    하
4    상
5    중
6    하
Name: 등급, dtype: object

In [43]:
df.sort_values(by="등급")
# df.sort_values(by="등급2")

  등급
2  상
4  상
1  중
5  중
0  하
3  하
6  하

In [31]:
df_categorical["등급"] = pd.Categorical(
    values=df_categorical["등급"],
    categories=grade_order,
    ordered=True,
)

# ordered=True의 경우
# 크기 비교를 통한 필터링이 가능한다.
condition = df_categorical["등급"] <= "중"
df.loc[condition]

  등급
0  하
1  중
3  하
5  중
6  하

In [41]:
# df_categorical["등급"] = pd.Categorical(
#     values=df_categorical["등급"],
#     categories=grade_order,
#     ordered=False,
# )

# # ordered=False의 경우
# # 크기 비교를 통한 필터링이 불가능한다.
# condition = df_categorical["등급"]   <= "중"
# df.loc[condition]