In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/titanic (1).csv")

In [ ]:
df.head()

In [ ]:
# 첫 번째 행만 선택하여 출력한다.
df.loc[0]

In [40]:
# 열 age 만 선택하여 출력한다.
# 열 age fare 를 선택하여 출력한다.
df['age']
df[['age', 'fare']]

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [ ]:
type(df.loc[:,["age"]])
# 데이터프레임 출력력

type(df.loc[:, "age"])
# 시리즈타입 , age 생으로 출력

In [ ]:
# 첫 번째부터 세 번째 열까지 선택하여 출력한다.
df.iloc[:,0:3]

In [ ]:
# 두 번째부터 마지막 열까지 선택하여 출력한다.
df.iloc[:,1:]

In [ ]:
# 0행 부터 5행까지 출력한다.
df[0:6]

In [ ]:
# 열 pclass fare 을 선택하여 모든 행을 출력한다.
df.loc[:,["pclass","fare"]]

In [ ]:
# 열 age 부터 마지막열까지 모든 행을 출력한다.
df.loc[:,"age":]

In [ ]:
# 열 age 가 1 미만인 행만 출력한다.
condition = df["age"] < 1
df.loc[condition]

In [ ]:
# 열 age 가 30세 이상인 행만 출력한다.
condition = df["age"] >= 30
df.loc[condition]

In [ ]:
# 열 age 가 30세 이상인 행의 열 survived 만 출력한다.
condition = df["age"] < 1
df.loc[condition,["survived"]]

In [ ]:
# 열 survived 가 1인 모든 행을 출력한다.
condition = df["survived"] == 1
df.loc[condition]

In [ ]:
# 13. 열 `pclass` 가 1인 모든 행을 출력한다.
# 14. 열 `pclass` 가 1이고, 열 `survived` 가 1인 모든 행을 출력한다.
condition = df["pclass"] == 1
condition1 = df["survived"] == 1
df.loc[condition & condition1]

In [ ]:
# 15. 열 `pclass` 가 2 또는 3인 모든 행을 출력한다.
# 16. 열 `pclass` 가 2 또는 3이고, `survived` 가 1인 모든 행을 출력한다.
condition = df["pclass"] == 2
condition1 = df["pclass"] == 3
condition2 = df["survived"] == 1
df.loc[(condition | condition1) & condition2]